NEXT_PUBLIC_API_URL=https://burner-point-api-production.up.railway.app/api
NEXT_PUBLIC_WS_URL=https://burner-point-api-production.up.railway.app
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=pk_test_xxxx
NEXT_PUBLIC_APP_URL=http://localhost:3000
